.container {

	&__wrapper {
		display: block;
	}
	&__item {

		&:first-child {
			margin-right: 0;
		}

		&:last-child {
			margin-left: 0;
		}

		&__active {
			border: 0;
			background-color: silver;
			&:active:not(:disabled) {
				top: 0;
				background-color: silver;
			}
		}
	}
	&__vertical {
		min-width: 75px;
		display: block;

		&:first-child {
			margin-bottom: 0;
		}

		&:last-child {
			margin-left: 0;
			margin-top: 0;
		}
	}
}