.container {
	position: relative;

	.input {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&_isDisabled {
		.container__anchor__caret {
			cursor: default;
		}
	}

	&__anchor {
		padding-top: 0;
		padding-bottom: 0;
		width: 100%;
		height: 100%;
		box-sizing border-box;

		&__content {
			&_hasCaret {
				.container__anchor__caret__icon {
					z-index: 2;
					left: 50%;
					transform: translate(-50%, -50%);

					&_isReversed {
						transform: translate(-50%, -50%) rotate(-180deg);
					}
				}
			}
		}

		&__caret {
			background: transparent;
			border: 0;
			position: absolute;
			cursor: pointer;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 2;
		}

		&__content {
			position: relative;
			width: 100%;
			height: 100%
			box-sizing border-box;
		}

	}
}

.selectbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

