@require './Combobox.styl';

.container {
	width: 200px;

	.input {
		background: #eee;
		color: #000;
		box-shadow: none;
	}
}

.article {
	margin-bottom: 20px;
}

.section {
	width: 200px;
	display: inline-block;
	vertical-align: top;

	+ .section {
		margin-left: 20px;
	}
}

.anchor {
	border: 0;
	padding-right: 7px;

	&__content_hasCaret {
		border: 1px solid red;
	}
}

.input {
	padding-right: 20px;
}