@require '../Selectbox/Selectbox.mixin.styl';
@require '../Selectbox/Selectbox.styl';
@require '../Popover/Popover.mixin.styl';

$caretSize = 7px;
$caretMarginLeft = 5px;

Selectbox(container, $caretSize, $caretMarginLeft, 10px, 5px);

.anchor__content {
	&_hasCaret {
		padding-right: 0;
		.input {
			width: 100%;
			padding-right: ($caretSize + $caretMarginLeft);
		}

		.anchor__caret {
			right: 10px;
		}
	}
}


.anchor,
.container__popover {
	width: 200px;
}

.input {
	background: #eee;
	color: #000;
	font-size: 14px;
	box-shadow: none;
}