.container {
	position: relative;

	.input {
		width: 100%;
	}
}

.content {
	text-align: left;

	&_hasCaret {
		position: relative;

		.caret {
			cursor: pointer;
			display: block;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);

			&_isReversed {
				transform: translateY(-50%) rotate(-180deg);
			}
		}
	}
}