.container {
	user-select: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	font-size: inherit; //override default user-agent stylesheet
	font-family: inherit; //override default user-agent stylesheet
	outline: none;
	
	&:not(:disabled) {
		cursor: pointer;
	}
		
	//types
	&_primary {
		composes: container;
	}
	&_flat {
		composes: container;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
}