nesting($selector, $padding = 0, $limit = 0, $nestedSelector = null) {
	if $padding and $limit {
		for $level in (0..$limit) {
			$currentPadding = ($level * $padding) px;
			
			.{$selector}_level_{$level} {
				padding-left: $currentPadding;
			}
			if $nestedSelector {
				.{$selector}_level_{$level} .{$nestedSelector} {
					padding-left: $currentPadding;
				}
			}
		}
	}
}