.list {
	margin: 20px;
	width: 300px;
	border: 2px solid grey;
	padding: 5px;
}

.itemGroup__header {
	background: grey;
}
	
.item,
.itemGroup__header {
	cursor: pointer;
	&__content {
		padding: 3px 6px;
	}
	&:hover {
		color: lightblue;
	}
}