@require '../Scrollable/Scrollable.config.styl';

.container {
	background-color: #161412;
	.gridCell {
		&__content {
			min-width: 30px; //to avoid repainting
		}
	}
}

.gridBody {
	max-height: 300px;
	.gridCell {
		&__placeholder {
			height: 16px; //this should be fixed integer to avoid repainting whole table on content change
		}
	}
}
	
.gridHead {
	background-color: #242424;
	&_paddedForScrollbar {
		padding-right: $scrollableScrollBarSize;
	}
}