.container {
	overflow: hidden;
}
	
.cell {
	&_left {
		text-align: left;
	}
	&_center {
		text-align: center;
	}
	&_right {
		text-align: right;
	}
}
	
.gridCell {
	&__placeholder {
		display: inline-block;
		position: relative;
		height: 100%; //this should be fixed integer to avoid repainting whole table on content change (ex. 16px)
	}
		
	&__content {
		display: block;
		position: absolute;
		top: 0;
		&_left {
			composes: gridCell__content;
			left: 0;
			text-align: left;
		}
		&_center {
			composes: gridCell__content;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
		}
		&_right {
			right: 0;
			text-align: right;
		}
	}
}