@require '../Scrollable/Scrollable.config.styl';

.container {
	background-color: #161412;
}

.gridBody {
	max-height: 300px;
}
	
.gridHead {
	background-color: #242424;
	&_paddedForScrollbar {
		padding-right: $scrollableScrollBarSize;
	}
}