$scrollableScrollBarSize = 18px;
$scrollableScrollBarButtonSize = 18px;

.button {
	box-sizing: border-box;
	text-align: center;
	padding: 0;
	border: 1px solid;
	color: #fff;
	background-color: #4a4540;
	border-color: rgba(#fff, .08) rgba(#fff, .06) rgba(#fff, .04) rgba(#fff, .06);
	box-shadow: none;

	&:hover {
		background-color: #635e58;
		border-color: rgba(#fff, .08) rgba(#fff, .06) rgba(#fff, .04) rgba(#fff, .06);
		box-shadow: none;
	}

	&:active {
		background-color: #423d3a;
		border-color: rgba(#000, .1) rgba(#000, .14) rgba(#000, .18) rgba(#000, .14);
		box-shadow: none;
	}
	&[disabled] {
		background-color: silver;
	}
}

.track {
	background: #191919;
}
.bar {
	background: rgba(#4a4a4a, .8);
}
