@require './DateInput.styl';

.container {
	padding-left: 4px;
	padding-right: 4px;
}

.section {
	padding-left: 2px;
	padding-right: 2px;
	&_isActive {
		background: #898989;
	}
}

.separator {
	padding-left: 1px;
	padding-right: 1px;
}