$eventSize = 5px;
.events {
	position: absolute;
	right: -($eventSize + 1px);
	top: 0;
	width: $eventSize;
}

.event {
	width: $eventSize;
	box-sizing: border-box;
	height: @width;
}

.holiday {
	background: #7f7d7d;
}

.birthday {
	background: #fff;
}