@require "./Calendar.styl";

.container {
	font-size: 12px;
	color: #fff;
	padding: 0;
	background-color: #3d3b39;
}

.header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 10px 0;
	font-weight: bold;
	user-select: none;
	text-align: center;
	vertical-align: middle;
	margin: 0 5px;

	&__text {
		margin: 0 14px;
	}
}

.changeMonth {
	&__container {
		background: transparent;
		border: none;
		box-shadow: none;
		vertical-align: top;
		height: 12px;
	}

	&__icon {
		fill: #6cb5d9;
		height: 12px;
		width: 12px;
	}
}

.month {
	padding-bottom: 5px;
}

.monthHeader {
	margin: 6px 0 12px;

	&__day {
		display: inline-block;
		font-size: 10px;
		line-height: 8px;
		color: darken(#fff, 30);
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		box-sizing: border-box;
		margin: 0 10px 0;
		width: 25px;
	}
}

.week {
	width: 100%;
}

.day {
	box-sizing: border-box;
	line-height: 8px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 5px;
	margin: 0 10px 2px;
	width: 25px;

	&_selected {
		box-shadow: inset 0 0 0 1px gold;
		background: goldenrod;
	}

	&_current {
		color: red;
	}

	&_disabled {
		cursor: default;
		color: gray;
	}
}