.header {
	user-select: none;

	&__text {
		cursor: default;
	}
}

.monthHeader {
	&__day {
		user-select: none;
		cursor: default;
	}
}

.day {
	user-select: none;

	&_disabled {
		cursor: default;
	}
}

.changeMonth {
	&__icon {
		fill: inherit;
	}
}

// css table
.month {
	display: table;
	table-layout: fixed;
}

.week,
.monthHeader {
	display: table-row;
}

.monthHeader {
	&__day {
		display: table-cell;
		vertical-align: middle;
	}
}

.dayContainer  {
	display: table-cell;
	vertical-align: middle;
}