.header {
	user-select: none;

	&__text {
		cursor: default;
	}
}

.monthHeader {
	&__day {
		user-select: none;
		cursor: default;
	}
}

.day {
	user-select: none;

	&_disabled {
		cursor: default;
	}
}

.changeMonth {
	&__icon {
		fill: inherit;
	}
}