@require './reset.styl';

:global {
	body {
		position: relative;
		padding: 20px;
		margin: 0;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		
		font-family: 'Segoe UI Light' 'Helvetica Neue', 'Helvetica Neue' Arial, sans-serif;
	}
}
	
.container {
	
}