@require "./DatePicker.styl";

.container {
	position: relative;
	display: inline-block;
	height: 21px;
}

.popover {
	&__container {

	}

	&__content {
		padding: 0;
	}
}

.input {
	display: inline-block;
	margin-right: 7px;
	height: 100%;

	&_invalid {
		background: #b22121;
	}
}

.openCalendar {
	background: transparent;
	border: none;
	width: 17px;
	padding: 0;
	height: 100%;

	&__icon {
		fill: #6cb5d9;
		width: 100%;
		height: 100%;
	}
}