@require "./DatePicker.styl";

.container {
	height: 21px;
}

.popover {
	&__container {
	}

	&__content {
		padding: 0;
	}
}

.field {
	display: inline-block;
	height: 100%;
	width: calc(100% - 22px);

	&_invalid {
		background: #b22121;
	}
}

.openCalendar {
	background: transparent;
	border: none;
	padding: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	&__icon {
		fill: #6cb5d9;
		width: 17px;
		height: 17px;
	}
}