.container {
	position: relative;
	display: inline-block;
}

.popover {
	&__container {

	}

	&__content {
		padding: 0;
	}
}

.field {
	display: inline-block;
	height: 100%;

	&_invalid {
	}
}

.openCalendar {
	&__icon {
	}
}