.container {
	position: relative;
	display: inline-block;

	.field {
		display: inline-block;
		width: auto;

		&_invalid {
		}
	}
}

.popover {
	&__container {

	}

	&__content {
	}
}

.openCalendar {
	&__icon {
	}
}