.container {
	display: inline-block;
	position: relative;
	float: left;
	line-height: .9em;

	&__input {
		position: absolute;
		clip: rect(0,0,0,0);
	}
	&__checkboxIcon {
		color: #fff;
		visibility: hidden;
	}
	&__checkboxIcon_checked {
		visibility: visible;
	}
	&__checkboxIcon_disabled {
		color: #ccc;
	}
	&__view {
		display: inline-block;
		width: 12px;
		height: @width;
		outline: none;
		border: 1px solid;
		border-radius: 1px;
		margin-right: 10px;
		border-color: #3b3b3b;
		box-shadow: 0 1px 0 rgba(#000000, .7) inset;
		background-color: #202020;
	}
	&__checkboxIcon {
		display: block;
		margin: 0 auto;
		width: 10px;
		height: @width;
		line-height: @height;
	}
	&__view_disabled,
	&__view_disabled:hover {
		color: #ccc;
		background-color: darken(#202020, 5);
		border-color: darken(#3b3b3b, 5);
	}
}