.container {
	background: #000;

	&__label {
		display: inline-block;
		padding: 10px;
		color: #fff;
		vertical-align: middle;
		&:hover {
			color: gold;
			.container__view {
				background-color: lighten(#202020, 5);
				border-color: gold;
			}
			 .container__checkboxIcon {
				color: gold;
			}
		}
	}

	&__disabled,
	&__disabled:hover {
		color: #CCC;
		.container__view {
			color: #ccc;
			background-color: darken(#202020, 5);
			border-color: darken(#3b3b3b, 5);
		}
		.container__checkboxIcon {
			color: #CCC;
		}
	}

	&__checkboxIcon_disabled {
		color: #CCC;
	}
}