.container {
	display: inline-block;
	position: relative;

	&__input {
		position: absolute;
		clip: rect(0,0,0,0);
	}

	&__checkboxIcon {
		display: block;
		margin: 0 auto;
		visibility: hidden;
	}

	&__checkboxIcon_checked {
		visibility: visible;
	}
	&__view {
		display: inline-block;
		position: relative;
	}
}