.container {
	display: inline-block;
	position: relative;
	float: left;
	line-height: .9em;

	&__input {
		position: absolute;
		clip: rect(0,0,0,0);
	}

	&__checkboxIcon {
		display: block;
		margin: 0 auto;
		visibility: hidden;
	}

	&__checkboxIcon_checked {
		visibility: visible;
	}
	&__view {
		margin-right: 10px;
	}
}