.container {
	display: inline-block;
	position: relative;
	float: left;

	input[type="checkbox"] {
		position: absolute;
		clip: rect(0,0,0,0);
	}

	&__checkboxIcon {
		display: block;
		margin: 0 auto;
	}

	&__checkboxIconChecked {
		visibility: visible;
	}
	&__view {
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
}