@require './Checkbox.styl';

.container {

	&__checkboxIcon {
		color: #fff;
	}
	&__checkboxIcon_disabled {
		color: #ccc;
	}
	&__view {
		width: 12px;
		height: @width;
		margin-right: 10px;
		outline: none;
		border: 1px solid;
		border-radius: 1px;
		border-color: #3b3b3b;
		box-shadow: 0 1px 0 rgba(#000000, .7) inset;
		background-color: #202020;
	}
	&__checkboxIcon {
		display: block;
		margin: 0 auto;
		width: 10px;
		height: @width;
		line-height: @height;
	}
	&__view_disabled,
	&__view_disabled:hover {
		color: #ccc;
		background-color: darken(#202020, 5);
		border-color: darken(#3b3b3b, 5);
	}
}