@require './InnerInput.styl';

.container {
	padding-left: 4px;
	padding-right: 4px;
}
	
.hours,
.minutes {
	padding-left: 2px;
	padding-right: 2px;
	&_active {
		background: #898989;
	}
}
	
.separator {
	padding-left: 1px;
	padding-right: 1px;
}