@require './InnerInput.styl';

.container {
	background-color: transparent;
	color: inherit;
	border: none;
	padding: 0 6px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	outline: none;
}