.container {

	&__item {
		&__text {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	
	&__menu {
		&_hasSelectedItem {
			.container__item {
				position: relative;
				&__activeIcon {
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}