Selectbox($selector, $caretSize = 0, $caretMarginLeft = 0, $selectedIconSize = 0, $selectedIconMarginLeft = 0) {

	if $caretSize and $caretMarginLeft {
		.anchor {
			&__content {
				&_hasCaret {
					padding-right: unquote('calc(' + $caretSize + ' + ' + $caretMarginLeft + ')');
				}
			}

			&__caret {
				width: $caretSize;
				height: $caretSize;
			}

		}
	}

	.{$selector} {
		if $selectedIconSize and $selectedIconMarginLeft {
			&__menu_hasSelectedItem {
				.{$selector}__item {
					padding-right: unquote('calc(' + $selectedIconSize + ' + ' + $selectedIconMarginLeft + ')');
					&__activeIcon {
						width: $selectedIconSize;
						height: $selectedIconSize;
					}
				}
			}
		}
	}
}